<%- include("partials/header") %>
<main>
    <div class="blogs-container">
        <% if (posts.length > 0) { %>
        <ul class="blog-list">
            <% posts.forEach(post => { %>
            <div class="blog-div"> 
              <li class="blog">
                <h2 class="blog-title"><%= post.title %></h2>
                <p class="blog-content"><%= post.content %></p>

                <!-- Display timestamps -->
                <p class="blog-timestamp">Created on: <%= new Date(post.createdAt).toLocaleString() %></p>
                <p class="blog-timestamp">Last updated: <%= new Date(post.updatedAt).toLocaleString() %></p>

                <div class="button-container">
                    <form action="/edit/<%= post.id %>" method="get">
                        <input class="edit-button" type="submit" value="Edit">
                    </form>
                    <form action="/delete" method="post">
                        <input type="hidden" name="id" value="<%= post.id %>">
                        <button class="delete-button">Delete</button>
                    </form> 
                </div>
            </li>  
            </div>
            <% }) %>
        </ul>
        <% } else { %>
            <div class="no-text">
                <p>No posts available! create one!</p>
            </div>
            
        <% } %>
    </div>
    
</main>
<%- include("partials/footer") %>